/* login css */
.login-btn-StdLib {
    border-radius: 4px;
    margin-left: 1.8rem;
    cursor: pointer;
    background-color: var(--bg-color);
}

.login-btn {
    font-size: 1.5rem;
}

.login_form-StdLib {
    width: 100%;
}

.signUp-btn-StdLib {
    border-radius: 4px;
    padding: 0.7rem 1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--yellow-color);
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 80%;
}

.login-form-container.active {
    right: 0;
}

.heading-login {
    font-size: 2.5rem;
    color: var(--dark-color);
    text-align: center;
    margin: 2rem auto;
}

.box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--dark-color);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--dark-color);
    text-transform: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.label-StdLib {
    font-size: 1.5rem;
    color: var(--dark-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

/* Close button css */
#close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--primary-gray);
    cursor: pointer;
}

#close-signup-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--primary-gray);
    cursor: pointer;
}

.btn-warning {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 1rem;
}

.password-label {
    position: relative;
}

.input-group {
    text-align: left;
    margin-bottom: 0.5rem;
    color: var(--primary-gray);
}

.input-group input {
    width: 100%;
    margin: 5px auto;
    padding: 4px;
    border: solid 2px var(--bg-color);
    border-radius: 5px;
    height: 6vh;
}

.text-input {
    margin-top: 1rem;
}

.eye-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: var(--primary-gray);
    background: transparent;
    border: none;
    font-size: 1.5rem;
}

.no-account {
    color: var(--primary-gray);
}

.link {
    background-color: var(--light-bg);
    border-radius: 4px;
}

.error-text {
    color: #E83A14;
}