
.button-close-wishlist {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    margin-left: 18rem;
}

.cards_for-wish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    padding: 2rem;
}

.wish-empty-img {
    width: 30rem;
    height: 22rem;
    margin: auto;
}

.cards_for-book {
    margin-top: -2rem;
    margin-bottom: 5rem;
}

.bg-wishlist {
    background-color: var(--light-bg);
    border-radius: 4px;
}