.bill-cart {
    border-radius: 4px;
    background-color: var(--white-hover);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    display: flex;
    width: 350px;
    box-sizing: border-box;
    outline: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.cart-StdLib {
    margin-top: -3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.heading-cart {
    text-align: center;
    margin: auto;
}

.cart-box {
    height: 40rem;
}

.imag-cart {
    width: 228px;
    height: 228px;
}

.head2 {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--primary-gray);
    font-weight: 600;
}

.head3 {
    padding: 1rem;
}

.publish-review {
    font-size: 1.5rem;
    color: var(--bg-color);
    padding: 1rem;
}

.cart-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.card2-text h4 {
    font-size: 1.5rem;
}

.place-order-btn {
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 10rem;
}

.cart-1 {
    width: 44rem;
    margin-top: 2rem;
    padding: 1rem;
    height: 30rem;
}

.empty-cart-btn {
    margin: auto;
    padding: 1rem;
}

.bill-cart {
    width: 30rem;
}

.first {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4rem;
}

.cart-quntity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    margin: 1rem auto;
}

.bg-cart {
    background-color: var(--light-bg);
    border-radius: 4px;
}

.card {
    text-align: center;
}

.item-quantity {
    font-size: 2rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: var(--yellow-color);
}

.cart-img {
    width: 30rem;
    height: 22rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}