@import url('https://fonts.googleapis.com/css2?family=Alef&family=Pacifico&display=swap');

:root {
    --primary-gray: #081244;
    --secondary-gray: #ecf8f8;
    --dark-color: #393d3f;
    --light-color: #e9ecef;
    --bg-color: #75c2ff;
    --light-bg: #B2DEFF;
    --white-hover: #fff;
    --off-white: #f7f7f7;
    --yellow-color: #ffe856;
    --price-tag: #ED3C60;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --border-hover: 0.1rem solid var(--dark-color);
    --box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: auto;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}